h1 {
    color:black;                /* apply colors to all h1 */
}

h2 {
    color:rgb(255, 255, 0);     /* apply colors to all h2 */
}

h3 {
    color:#0f0;                 /* apply colors to all h2 */
}

p {
    background-color: black;    /* apply background-colors to all p */
    color:hsl(0, 0, 100);       /* apply colors to all p */
}